
body{ 
  margin:0; /* fond d'écran */
  padding:0;
  background: url(../image/fond/biblio2.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

h1
{
text-align: center;
font-size: 50px;
}

.page-header {
	margin: 0px 0;
    padding-bottom: 0px;
	height: 5rem;
}
.avatar
{
    position: absolute;
	top : 10px;
	left : 15px;
	max-width: 90px;
	height: auto;
}

.parametre
{
    position: absolute;
	top : 10px;
	right : 130px;
	max-width: 90px;
	height: auto;
}

.compte
{
    position: absolute;
	top : 10px;
	right : 10px;
	max-width: 90px;
	height: auto;
}

.imageMenu
{
    position: relative;
	top: 40px;
	max-width: 70px;
	height: auto;
}
.image1
{
    position: relative;
	left : 20px;
	max-width: 70px;
	height: auto;
}



.imageCentrale
{
    position: relative;
	bottom : 10px;
	left : 40%;
	max-width: 80%;
	height: auto;
}


.imageListe
{
    position: relative;
	max-width: 200px;
	height: auto;
}