body { 
  margin:0; /* fond d'écran */
  padding:0;
  background: url(soleilVert.png) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

}
h1 {


    text-align: center;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px green dashed;
    border-radius: 10px;
    width : 40%;
    margin-left: 10%;
    box-shadow: 4px 4px 4px olive;
    margin-bottom: 40px;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#dewplayerpls {

  margin-left: 10%;
}
#vidplayer {

  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.parag {

    text-align: left;
    color: black;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px green dashed;
    border-radius: 10px;
    box-shadow: 4px 4px 4px olive;
    width : 50%;
    margin-right: 20%;
    margin-left: 5%;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
}

.parag2 {

  position: relative;
  position: relative;
  top: 50%;
  left:12%;

    text-align: center;
    color: black;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px green dashed;
    border-radius: 10px;
    box-shadow: 4px 4px 4px olive;
    width : 25%;
    margin-right: 20%;
    margin-left: 5%;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
}

}

.imageflottante
{
    position: absolute;
	bottom : 10px;
	left : 10px;
	max-width: 9%;
	height: auto;
}

.imagecarte
{
    position: relative;
	top: 50%;
	left:25%;
	max-width: 10%;
	height: auto;
}